<h1>Application URL Statistics</h1>

<h2>Application: <%= @source.identifier %> </h2>
<ul id="stats">
  <p>Statistics for <%= @url_address %></p>
<li><%= @longest_response_time %> </li>
<li><%= @shortest_response_time %> </li>
<li><%= @average_response_time %> </li>
<li><%= @request_type %> </li>
<li><%= @most_popular_referrers %> </li>
<li><%= @most_popular_user_agent_browsers %> </li>
</ul>
