<a href="/sources/<%= @source.identifier %>">&#8592; Application Details</a>

<h1>Application Events Index</h1>
<h2>Application: <%= @source.identifier %></h2>

<ul id="list-of-events">
  <% @source.most_received_events.each do |event, count| %>
      <li><a href="/sources/<%= @source.identifier %>/events/<%= event %>"><%= event %></a>: <%= count %></li>
  <% end %>
</ul>
  