<a href="/sources/<%= @identifier %>">&#8592; Application Details</a>

<h1>Application URL Statistics</h1>

<h2>Application: <%= @source.identifier %> </h2>
<ul id="stats">
  <p>Statistics for <%= @source.root_url %></p>
<li id="longest-response">Longest response time: <%= @longest_response_time %> </li>
<li>Shortest response time: <%= @shortest_response_time %> </li>
<li>Average response time: <%= @average_response_time %> </li>
<li>Request types: <%= @request_type %> </li>
<li>Most popular referrers: <%= @most_popular_referrers %> </li>
<li>Most popular user agent browsers: <%= @most_popular_user_agent_browsers %> </li>
</ul>
